In [1]:
import pandas as pd
import datetime
import json
from streamz import Stream
from streamz.dataframe import DataFrame

import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

plt.style.use('fivethirtyeight')
plt.rcParams['lines.linewidth'] = .5
plt.rcParams['font.size'] = 10
plt.rcParams['figure.figsize'] = (16, 10)
plt.rcParams['font.family'] = 'Microsoft YaHei'

In [2]:
from lutils.fin.data_loader import load

In [3]:
df = load('SHFE', 'rb2304')

load Z:/tq_data/ticks\SHFE.rb2304.h5

In [5]:
# df.index = df.datetime

In [5]:
df = df[['datetime', 'last_price']]

In [6]:
df.loc['2023-03-10']

                                       datetime  last_price
datetime
2023-03-10 09:00:01.000 2023-03-10 09:00:01.000      4335.0
2023-03-10 09:00:01.500 2023-03-10 09:00:01.500      4328.0
2023-03-10 09:00:02.000 2023-03-10 09:00:02.000      4332.0
2023-03-10 09:00:02.500 2023-03-10 09:00:02.500      4332.0
2023-03-10 09:00:03.000 2023-03-10 09:00:03.000      4326.0
...                                         ...         ...
2023-03-10 22:59:56.000 2023-03-10 22:59:56.000      4332.0
2023-03-10 22:59:56.500 2023-03-10 22:59:56.500      4339.0
2023-03-10 22:59:57.000 2023-03-10 22:59:57.000      4339.0
2023-03-10 22:59:57.500 2023-03-10 22:59:57.500      4339.0
2023-03-10 22:59:58.500 2023-03-10 22:59:58.500      4339.0

[25030 rows x 2 columns]

In [7]:
df = df.loc['2023-03-10']

In [8]:
df

                                       datetime  last_price
datetime
2023-03-10 09:00:01.000 2023-03-10 09:00:01.000      4335.0
2023-03-10 09:00:01.500 2023-03-10 09:00:01.500      4328.0
2023-03-10 09:00:02.000 2023-03-10 09:00:02.000      4332.0
2023-03-10 09:00:02.500 2023-03-10 09:00:02.500      4332.0
2023-03-10 09:00:03.000 2023-03-10 09:00:03.000      4326.0
...                                         ...         ...
2023-03-10 22:59:56.000 2023-03-10 22:59:56.000      4332.0
2023-03-10 22:59:56.500 2023-03-10 22:59:56.500      4339.0
2023-03-10 22:59:57.000 2023-03-10 22:59:57.000      4339.0
2023-03-10 22:59:57.500 2023-03-10 22:59:57.500      4339.0
2023-03-10 22:59:58.500 2023-03-10 22:59:58.500      4339.0

[25030 rows x 2 columns]

In [9]:
# df.head()

In [10]:
# df = pd.DataFrame()

In [11]:
# def append_line(x):
#     df = pd.concat([df, pd.DataFrame([f.readline()])], ignore_index=True)

In [12]:
# source = Stream()
# source.map(json.loads).sink(append_line)

In [13]:
f = open('D:/SHFE.rb2402', 'r')

In [14]:
# df = pd.concat([df, pd.DataFrame([json.loads(f.readline())])], ignore_index=True)

In [15]:
# df

In [16]:
# source.emit(f.readline())

In [17]:
# example = pd.DataFrame({'last_price': [], 'volume': []})
# sdf = DataFrame(stream, example=example)

# # sdf[sdf.last_price == 'Alice'].amount.sum()
# sdf.window(value='2S').last_price.mean()

In [18]:
# df = pd.DataFrame()

In [19]:
def tick(t):
    df = pd.json_normalize(json.loads(t))
    
    df['datetime'] = df['ActionDay'] + ' ' + df['UpdateTime'] # + '.' + df['UpdateMillisec'].astype(str)

#     df = df[['datetime', 'LastPrice', 'Volume', 'Turnover', 'OpenInterest', 'BidPrice1', 'BidVolume1', 'AskPrice1', 'AskVolume1',]].rename(columns={'datetime': 'datetime', 
#                 'LastPrice': 'last_price', 
#                 'Volume': 'volume', 
#                 'Turnover': 'amount', 
#                 'OpenInterest': 'open_interest',
#                 'BidPrice1': 'bid_price1', 
#                 'BidVolume1': 'bid_volume1', 
#                 'AskPrice1': 'ask_price1', 
#                 'AskVolume1': 'ask_volume1',})
    
    df = df[['datetime', 'LastPrice', ]].rename(columns={'datetime': 'datetime', 'LastPrice': 'last_price',})
    
    df['datetime'] = pd.to_datetime(df.datetime, format='%Y%m%d %H:%M:%S') # .%f
    df.index = df.datetime
    return df

In [14]:
%time f.readline()

Wall time: 0 ns

'{"TradingDay": "20230712", "InstrumentID": "rb2402", "ExchangeID": "", "ExchangeInstID": "", "LastPrice": 3594.0000000000005, "PreSettlementPrice": 3589.0, "PreClosePrice": 3591.0, "PreOpenInterest": 31396.0, "OpenPrice": 3591.0, "HighestPrice": 3611.0000000000005, "LowestPrice": 3591.0, "Volume": 493, "Turnover": 17705930.0, "OpenInterest": 30919.0, "ClosePrice": 1.7976931348623157e+308, "SettlementPrice": 1.7976931348623157e+308, "UpperLimitPrice": 3983.0, "LowerLimitPrice": 3194.0, "PreDelta": 1.7976931348623157e+308, "CurrDelta": 1.7976931348623157e+308, "UpdateTime": "23:00:00", "UpdateMillisec": 500, "BidPrice1": 3597.0000000000005, "BidVolume1": 1, "AskPrice1": 3654.0000000000005, "AskVolume1": 1, "BidPrice2": 1.7976931348623157e+308, "BidVolume2": 0, "AskPrice2": 1.7976931348623157e+308, "AskVolume2": 0, "BidPrice3": 1.7976931348623157e+308, "BidVolume3": 0, "AskPrice3": 1.7976931348623157e+308, "AskVolume3": 0, "BidPrice4": 1.7976931348623157e+308, "BidVolume4": 0, "AskPrice4": 1.7976931348623157e+308, "AskVolume4": 0, "BidPrice5": 1.7976931348623157e+308, "BidVolume5": 0, "AskPrice5": 1.7976931348623157e+308, "AskVolume5": 0, "AveragePrice": 35914.66531440162, "ActionDay": "20230711", "BandingUpperPrice": 0.0, "BandingLowerPrice": 0.0}\n'

In [47]:
# %time pd.concat([df, tick(f.readline())])

In [48]:
# %time df.append(tick(f.readline()))

In [20]:
df

                                       datetime  last_price
datetime
2023-03-10 09:00:01.000 2023-03-10 09:00:01.000      4335.0
2023-03-10 09:00:01.500 2023-03-10 09:00:01.500      4328.0
2023-03-10 09:00:02.000 2023-03-10 09:00:02.000      4332.0
2023-03-10 09:00:02.500 2023-03-10 09:00:02.500      4332.0
2023-03-10 09:00:03.000 2023-03-10 09:00:03.000      4326.0
...                                         ...         ...
2023-03-10 22:59:56.000 2023-03-10 22:59:56.000      4332.0
2023-03-10 22:59:56.500 2023-03-10 22:59:56.500      4339.0
2023-03-10 22:59:57.000 2023-03-10 22:59:57.000      4339.0
2023-03-10 22:59:57.500 2023-03-10 22:59:57.500      4339.0
2023-03-10 22:59:58.500 2023-03-10 22:59:58.500      4339.0

[25030 rows x 2 columns]

In [56]:
%time df = pd.concat([df, tick(f.readline())])

Wall time: 5.99 ms

In [87]:
iter_df = tick(f.readline())

In [88]:
iter_df # .last_price = 5555

                               datetime  last_price
datetime
2023-07-12 09:00:05 2023-07-12 09:00:05      3594.0

In [89]:
iter_df.index[0]

Timestamp('2023-07-12 09:00:05')

In [90]:
if iter_df.index[0] in df.index:
    df.loc[iter_df.index] = iter_df
else:
    df = df.append(pd.DataFrame(iter_df, index=iter_df.index), ignore_index=False)

In [116]:
iter_df.last_price[0]

3594.0000000000005

In [123]:
df.loc['2023-07-14 13:54:04','rb2309'] = 1

In [124]:
df

,rb2309,rb2309C3000,rb2309C3050,rb2309C3100,rb2309C3150,rb2309C3200,rb2309C3250,rb2309C3300,rb2309C3350,rb2309C3400,...,rb2309P3950,rb2309P4000,rb2309P4050,rb2309P4100,rb2309P4150,rb2309P4200,rb2309P4250,rb2309P4300,rb2309P4350,datetime
2023-07-13 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,674.5,2023-07-13 23:00:00
2023-07-14 08:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,674.5,2023-07-14 08:59:00
2023-07-14 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,674.5,2023-07-14 09:00:00
2023-07-14 09:00:01,3696.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-14 09:00:01
2023-07-14 09:00:51,3700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-14 09:00:51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-14 14:23:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-14 14:23:07
2023-07-14 09:21:24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-14 09:21:24
2023-07-14 09:16:03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-14 09:16:03
2023-07-14 13:51:07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-14 13:51:07
2023-07-14 13:54:04,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-14 13:54:04

In [80]:
%time iter_df.index[0] in df.index

Wall time: 0 ns

True

In [44]:
%time df = pd.concat([df.iloc[:-2], df.iloc[-2:].resample('1S').last().fillna(method="ffill")])

Wall time: 89.9 ms

In [45]:
%time df.tail(20)

Wall time: 0 ns

                                   datetime  last_price
datetime
2023-07-12 08:59:43 2023-07-12 08:59:00.500      3594.0
2023-07-12 08:59:44 2023-07-12 08:59:00.500      3594.0
2023-07-12 08:59:45 2023-07-12 08:59:00.500      3594.0
2023-07-12 08:59:46 2023-07-12 08:59:00.500      3594.0
2023-07-12 08:59:47 2023-07-12 08:59:00.500      3594.0
2023-07-12 08:59:48 2023-07-12 08:59:00.500      3594.0
2023-07-12 08:59:49 2023-07-12 08:59:00.500      3594.0
2023-07-12 08:59:50 2023-07-12 08:59:00.500      3594.0
2023-07-12 08:59:51 2023-07-12 08:59:00.500      3594.0
2023-07-12 08:59:52 2023-07-12 08:59:00.500      3594.0
2023-07-12 08:59:53 2023-07-12 08:59:00.500      3594.0
2023-07-12 08:59:54 2023-07-12 08:59:00.500      3594.0
2023-07-12 08:59:55 2023-07-12 08:59:00.500      3594.0
2023-07-12 08:59:56 2023-07-12 08:59:00.500      3594.0
2023-07-12 08:59:57 2023-07-12 08:59:00.500      3594.0
2023-07-12 08:59:58 2023-07-12 08:59:00.500      3594.0
2023-07-12 08:59:59 2023-07-12 08:59:00.500      3594.0
2023-07-12 09:00:00 2023-07-12 09:00:00.500      3594.0
2023-07-12 09:00:01 2023-07-12 09:00:01.500      3594.0
2023-07-12 09:00:02 2023-07-12 09:00:02.000      3594.0

In [24]:
%time df.resample('1S').last()

Wall time: 1.46 s

In [39]:
%time datetime.datetime.now()

Wall time: 0 ns

datetime.datetime(2023, 7, 13, 19, 52, 37, 577022)

In [34]:
# resample_df = df.resample('1S').last()

In [71]:
r_df = df.loc[resample_df.index[-2]:].resample('1S').last()

In [72]:
d = pd.concat([resample_df.iloc[:-1], r_df.iloc[1:]])

In [73]:
d

,datetime,last_price,volume,amount,open_interest,bid_price1,bid_volume1,ask_price1,ask_volume1
datetime,,,,,,,,,
2023-07-12 08:59:00,2023-07-12 08:59:00.500,3594.0,493.0,17705930.0,30919.0,3597.0,1.0,3660.0,1.0
2023-07-12 08:59:01,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-12 08:59:02,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-12 08:59:03,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-12 08:59:04,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2023-07-12 09:00:01,2023-07-12 09:00:01.500,3594.0,493.0,17705930.0,30919.0,3597.0,1.0,3658.0,6.0
2023-07-12 09:00:02,2023-07-12 09:00:02.500,3594.0,493.0,17705930.0,30919.0,3597.0,2.0,3651.0,2.0
2023-07-12 09:00:03,2023-07-12 09:00:03.500,3594.0,493.0,17705930.0,30919.0,3598.0,1.0,3649.0,2.0
2023-07-12 09:00:04,2023-07-12 09:00:04.500,3594.0,493.0,17705930.0,30919.0,3597.0,1.0,3643.0,5.0
2023-07-12 09:00:05,2023-07-12 09:00:05.500,3594.0,493.0,17705930.0,30919.0,3597.0,2.0,3641.0,8.0

In [74]:
resample_df

,datetime,last_price,volume,amount,open_interest,bid_price1,bid_volume1,ask_price1,ask_volume1
datetime,,,,,,,,,
2023-07-12 08:59:00,2023-07-12 08:59:00.500,3594.0,493.0,17705930.0,30919.0,3597.0,1.0,3660.0,1.0
2023-07-12 08:59:01,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-12 08:59:02,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-12 08:59:03,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-12 08:59:04,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2023-07-12 08:59:59,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-12 09:00:00,2023-07-12 09:00:00.500,3594.0,493.0,17705930.0,30919.0,3597.0,1.0,3660.0,1.0
2023-07-12 09:00:01,2023-07-12 09:00:01.500,3594.0,493.0,17705930.0,30919.0,3597.0,1.0,3658.0,6.0
2023-07-12 09:00:02,2023-07-12 09:00:02.500,3594.0,493.0,17705930.0,30919.0,3597.0,2.0,3651.0,2.0
2023-07-12 09:00:03,2023-07-12 09:00:03.000,3594.0,493.0,17705930.0,30919.0,3598.0,1.0,3650.0,2.0

In [75]:
r_df

,datetime,last_price,volume,amount,open_interest,bid_price1,bid_volume1,ask_price1,ask_volume1
datetime,,,,,,,,,
2023-07-12 09:00:02,2023-07-12 09:00:02.500,3594.0,493,17705930.0,30919.0,3597.0,2,3651.0,2
2023-07-12 09:00:03,2023-07-12 09:00:03.500,3594.0,493,17705930.0,30919.0,3598.0,1,3649.0,2
2023-07-12 09:00:04,2023-07-12 09:00:04.500,3594.0,493,17705930.0,30919.0,3597.0,1,3643.0,5
2023-07-12 09:00:05,2023-07-12 09:00:05.500,3594.0,493,17705930.0,30919.0,3597.0,2,3641.0,8

In [43]:
pd.DataFrame([{"TradingDay": "20230712", "InstrumentID": "rb2402", "ExchangeID": "", "ExchangeInstID": "", "LastPrice": 3594.0000000000005, "PreSettlementPrice": 3589.0, "PreClosePrice": 3591.0, "PreOpenInterest": 31396.0, "OpenPrice": 3591.0, "HighestPrice": 3611.0000000000005, "LowestPrice": 3591.0, "Volume": 493, "Turnover": 17705930.0, "OpenInterest": 30919.0, "ClosePrice": 1.7976931348623157e+308, "SettlementPrice": 1.7976931348623157e+308, "UpperLimitPrice": 3983.0, "LowerLimitPrice": 3194.0, "PreDelta": 1.7976931348623157e+308, "CurrDelta": 1.7976931348623157e+308, "UpdateTime": "23:00:00", "UpdateMillisec": 500, "BidPrice1": 3597.0000000000005, "BidVolume1": 1, "AskPrice1": 3654.0000000000005, "AskVolume1": 1, "BidPrice2": 1.7976931348623157e+308, "BidVolume2": 0, "AskPrice2": 1.7976931348623157e+308, "AskVolume2": 0, "BidPrice3": 1.7976931348623157e+308, "BidVolume3": 0, "AskPrice3": 1.7976931348623157e+308, "AskVolume3": 0, "BidPrice4": 1.7976931348623157e+308, "BidVolume4": 0, "AskPrice4": 1.7976931348623157e+308, "AskVolume4": 0, "BidPrice5": 1.7976931348623157e+308, "BidVolume5": 0, "AskPrice5": 1.7976931348623157e+308, "AskVolume5": 0, "AveragePrice": 35914.66531440162, "ActionDay": "20230711", "BandingUpperPrice": 0.0, "BandingLowerPrice": 0.0}])

,TradingDay,InstrumentID,ExchangeID,ExchangeInstID,LastPrice,PreSettlementPrice,PreClosePrice,PreOpenInterest,OpenPrice,HighestPrice,...,AskPrice4,AskVolume4,BidPrice5,BidVolume5,AskPrice5,AskVolume5,AveragePrice,ActionDay,BandingUpperPrice,BandingLowerPrice
0,20230712,rb2402,,,3594.0,3589.0,3591.0,31396.0,3591.0,3611.0,...,1.797693e+308,0,1.797693e+308,0,1.797693e+308,0,35914.665314,20230711,0.0,0.0

In [92]:
pd.DataFrame(columns=['a','b'])

Empty DataFrame
Columns: [a, b]
Index: []

In [21]:
df = pd.read_pickle('D:/code/python/left5/fin/option/parity/xx/2023-07-17-rb2308')

In [22]:
list(df.columns)

['rb2308',
 'rb2308C2850',
 'rb2308C2900',
 'rb2308C2950',
 'rb2308C3000',
 'rb2308C3050',
 'rb2308C3100',
 'rb2308C3150',
 'rb2308C3200',
 'rb2308C3250',
 'rb2308C3300',
 'rb2308C3350',
 'rb2308C3400',
 'rb2308C3450',
 'rb2308C3500',
 'rb2308C3550',
 'rb2308C3600',
 'rb2308C3650',
 'rb2308C3700',
 'rb2308C3750',
 'rb2308C3800',
 'rb2308C3850',
 'rb2308C3900',
 'rb2308C3950',
 'rb2308C4000',
 'rb2308C4050',
 'rb2308C4100',
 'rb2308C4150',
 'rb2308C4200',
 'rb2308C4250',
 'rb2308C4300',
 'rb2308C4350',
 'rb2308C4400',
 'rb2308C4450',
 'rb2308C4500',
 'rb2308C4550',
 'rb2308C4600',
 'rb2308C4650',
 'rb2308C4700',
 'rb2308C4750',
 'rb2308C4800',
 'rb2308C4850',
 'rb2308P2850',
 'rb2308P2900',
 'rb2308P2950',
 'rb2308P3000',
 'rb2308P3050',
 'rb2308P3100',
 'rb2308P3150',
 'rb2308P3200',
 'rb2308P3250',
 'rb2308P3300',
 'rb2308P3350',
 'rb2308P3400',
 'rb2308P3450',
 'rb2308P3500',
 'rb2308P3550',
 'rb2308P3600',
 'rb2308P3650',
 'rb2308P3700',
 'rb2308P3750',
 'rb2308P3800',
 'rb2308P3850',
 'rb2308P3900',
 'rb2308P3950',
 'rb2308P4000',
 'rb2308P4050',
 'rb2308P4100',
 'rb2308P4150',
 'rb2308P4200',
 'rb2308P4250',
 'rb2308P4300',
 'rb2308P4350',
 'rb2308P4400',
 'rb2308P4450',
 'rb2308P4500',
 'rb2308P4550',
 'rb2308P4600',
 'rb2308P4650',
 'rb2308P4700',
 'rb2308P4750',
 'rb2308P4800',
 'rb2308P4850',
 'rb2308C2850_bid_price1',
 'rb2308C2850_ask_price1',
 'rb2308C2900_bid_price1',
 'rb2308C2900_ask_price1',
 'rb2308C2950_bid_price1',
 'rb2308C2950_ask_price1',
 'rb2308C3000_bid_price1',
 'rb2308C3000_ask_price1',
 'rb2308C3050_bid_price1',
 'rb2308C3050_ask_price1',
 'rb2308C3100_bid_price1',
 'rb2308C3100_ask_price1',
 'rb2308C3150_bid_price1',
 'rb2308C3150_ask_price1',
 'rb2308C3200_bid_price1',
 'rb2308C3200_ask_price1',
 'rb2308C3250_bid_price1',
 'rb2308C3250_ask_price1',
 'rb2308C3300_bid_price1',
 'rb2308C3300_ask_price1',
 'rb2308C3350_bid_price1',
 'rb2308C3350_ask_price1',
 'rb2308C3400_bid_price1',
 'rb2308C3400_ask_price1',
 'rb2308C3450_bid_price1',
 'rb2308C3450_ask_price1',
 'rb2308C3500_bid_price1',
 'rb2308C3500_ask_price1',
 'rb2308C3550_bid_price1',
 'rb2308C3550_ask_price1',
 'rb2308C3600_bid_price1',
 'rb2308C3600_ask_price1',
 'rb2308C3650_bid_price1',
 'rb2308C3650_ask_price1',
 'rb2308C3700_bid_price1',
 'rb2308C3700_ask_price1',
 'rb2308C3750_bid_price1',
 'rb2308C3750_ask_price1',
 'rb2308C3800_bid_price1',
 'rb2308C3800_ask_price1',
 'rb2308C3850_bid_price1',
 'rb2308C3850_ask_price1',
 'rb2308C3900_bid_price1',
 'rb2308C3900_ask_price1',
 'rb2308C3950_bid_price1',
 'rb2308C3950_ask_price1',
 'rb2308C4000_bid_price1',
 'rb2308C4000_ask_price1',
 'rb2308C4050_bid_price1',
 'rb2308C4050_ask_price1',
 'rb2308C4100_bid_price1',
 'rb2308C4100_ask_price1',
 'rb2308C4150_bid_price1',
 'rb2308C4150_ask_price1',
 'rb2308C4200_bid_price1',
 'rb2308C4200_ask_price1',
 'rb2308C4250_bid_price1',
 'rb2308C4250_ask_price1',
 'rb2308C4300_bid_price1',
 'rb2308C4300_ask_price1',
 'rb2308C4350_bid_price1',
 'rb2308C4350_ask_price1',
 'rb2308C4400_bid_price1',
 'rb2308C4400_ask_price1',
 'rb2308C4450_bid_price1',
 'rb2308C4450_ask_price1',
 'rb2308C4500_bid_price1',
 'rb2308C4500_ask_price1',
 'rb2308C4550_bid_price1',
 'rb2308C4550_ask_price1',
 'rb2308C4600_bid_price1',
 'rb2308C4600_ask_price1',
 'rb2308C4650_bid_price1',
 'rb2308C4650_ask_price1',
 'rb2308C4700_bid_price1',
 'rb2308C4700_ask_price1',
 'rb2308C4750_bid_price1',
 'rb2308C4750_ask_price1',
 'rb2308C4800_bid_price1',
 'rb2308C4800_ask_price1',
 'rb2308C4850_bid_price1',
 'rb2308C4850_ask_price1',
 'rb2308P2850_bid_price1',
 'rb2308P2850_ask_price1',
 'rb2308_2850',
 'rb2308_2850_positive',
 'rb2308_2850_negative',
 'rb2308P2900_bid_price1',
 'rb2308P2900_ask_price1',
 'rb2308_2900',
 'rb2308_2900_positive',
 'rb2308_2900_negative',
 'rb2308P2950_bid_price1',
 'rb2308P2950_ask_price1',
 'rb2308_2950',
 'rb2308_2950_positive',
 'rb2308_2950_negative',
 'rb2308P3000_bid_price1',
 'rb2308P3000_ask_price1',
 'rb2308_3000',
 'rb2308_3000_positive',
 'rb2308_3000_negative',
 'rb2308P3050_bid_price1',
 'rb2308P3050_ask_price1',
 'rb2308_3050',
 'rb2308_3050_positive',
 'rb2308_3050_negative',
 'rb2308P3100_bid_price1',
 'rb2308P3100_ask_price1',
 'rb2308_3100',
 'rb2308_3100_positive',
 'rb2308_3100_negative',
 'rb2308P3150_bid_price1',
 'rb2308P3150_ask_price1',
 'rb2308_3150',
 'rb2308_3150_positive',
 'rb2308_3150_negative',
 'rb2308P3200_bid_price1',
 'rb2308P3200_ask_price1',
 'rb2308_3200',
 'rb2308_3200_positive',
 'rb2308_3200_negative',
 'rb2308P3250_bid_price1',
 'rb2308P3250_ask_price1',
 'rb2308_3250',
 'rb2308_3250_positive',
 'rb2308_3250_negative',
 'rb2308P3300_bid_price1',
 'rb2308P3300_ask_price1',
 'rb2308_3300',
 'rb2308_3300_positive',
 'rb2308_3300_negative',
 'rb2308P3350_bid_price1',
 'rb2308P3350_ask_price1',
 'rb2308_3350',
 'rb2308_3350_positive',
 'rb2308_3350_negative',
 'rb2308P3400_bid_price1',
 'rb2308P3400_ask_price1',
 'rb2308_3400',
 'rb2308_3400_positive',
 'rb2308_3400_negative',
 'rb2308P3450_bid_price1',
 'rb2308P3450_ask_price1',
 'rb2308_3450',
 'rb2308_3450_positive',
 'rb2308_3450_negative',
 'rb2308P3500_bid_price1',
 'rb2308P3500_ask_price1',
 'rb2308_3500',
 'rb2308_3500_positive',
 'rb2308_3500_negative',
 'rb2308P3550_bid_price1',
 'rb2308P3550_ask_price1',
 'rb2308_3550',
 'rb2308_3550_positive',
 'rb2308_3550_negative',
 'rb2308P3600_bid_price1',
 'rb2308P3600_ask_price1',
 'rb2308_3600',
 'rb2308_3600_positive',
 'rb2308_3600_negative',
 'rb2308P3650_bid_price1',
 'rb2308P3650_ask_price1',
 'rb2308_3650',
 'rb2308_3650_positive',
 'rb2308_3650_negative',
 'rb2308P3700_bid_price1',
 'rb2308P3700_ask_price1',
 'rb2308_3700',
 'rb2308_3700_positive',
 'rb2308_3700_negative',
 'rb2308P3750_bid_price1',
 'rb2308P3750_ask_price1',
 'rb2308_3750',
 'rb2308_3750_positive',
 'rb2308_3750_negative',
 'rb2308P3800_bid_price1',
 'rb2308P3800_ask_price1',
 'rb2308_3800',
 'rb2308_3800_positive',
 'rb2308_3800_negative',
 'rb2308P3850_bid_price1',
 'rb2308P3850_ask_price1',
 'rb2308_3850',
 'rb2308_3850_positive',
 'rb2308_3850_negative',
 'rb2308P3900_bid_price1',
 'rb2308P3900_ask_price1',
 'rb2308_3900',
 'rb2308_3900_positive',
 'rb2308_3900_negative',
 'rb2308P3950_bid_price1',
 'rb2308P3950_ask_price1',
 'rb2308_3950',
 'rb2308_3950_positive',
 'rb2308_3950_negative',
 'rb2308P4000_bid_price1',
 'rb2308P4000_ask_price1',
 'rb2308_4000',
 'rb2308_4000_positive',
 'rb2308_4000_negative',
 'rb2308P4050_bid_price1',
 'rb2308P4050_ask_price1',
 'rb2308_4050',
 'rb2308_4050_positive',
 'rb2308_4050_negative',
 'rb2308P4100_bid_price1',
 'rb2308P4100_ask_price1',
 'rb2308_4100',
 'rb2308_4100_positive',
 'rb2308_4100_negative',
 'rb2308P4150_bid_price1',
 'rb2308P4150_ask_price1',
 'rb2308_4150',
 'rb2308_4150_positive',
 'rb2308_4150_negative',
 'rb2308P4200_bid_price1',
 'rb2308P4200_ask_price1',
 'rb2308_4200',
 'rb2308_4200_positive',
 'rb2308_4200_negative',
 'rb2308P4250_bid_price1',
 'rb2308P4250_ask_price1',
 'rb2308_4250',
 'rb2308_4250_positive',
 'rb2308_4250_negative',
 'rb2308P4300_bid_price1',
 'rb2308P4300_ask_price1',
 'rb2308_4300',
 'rb2308_4300_positive',
 'rb2308_4300_negative',
 'rb2308P4350_bid_price1',
 'rb2308P4350_ask_price1',
 'rb2308_4350',
 'rb2308_4350_positive',
 'rb2308_4350_negative',
 'rb2308P4400_bid_price1',
 'rb2308P4400_ask_price1',
 'rb2308_4400',
 'rb2308_4400_positive',
 'rb2308_4400_negative',
 'rb2308P4450_bid_price1',
 'rb2308P4450_ask_price1',
 'rb2308_4450',
 'rb2308_4450_positive',
 'rb2308_4450_negative',
 'rb2308P4500_bid_price1',
 'rb2308P4500_ask_price1',
 'rb2308_4500',
 'rb2308_4500_positive',
 'rb2308_4500_negative',
 'rb2308P4550_bid_price1',
 'rb2308P4550_ask_price1',
 'rb2308_4550',
 'rb2308_4550_positive',
 'rb2308_4550_negative',
 'rb2308P4600_bid_price1',
 'rb2308P4600_ask_price1',
 'rb2308_4600',
 'rb2308_4600_positive',
 'rb2308_4600_negative',
 'rb2308P4650_bid_price1',
 'rb2308P4650_ask_price1',
 'rb2308_4650',
 'rb2308_4650_positive',
 'rb2308_4650_negative',
 'rb2308P4700_bid_price1',
 'rb2308P4700_ask_price1',
 'rb2308_4700',
 'rb2308_4700_positive',
 'rb2308_4700_negative',
 'rb2308P4750_bid_price1',
 'rb2308P4750_ask_price1',
 'rb2308_4750',
 'rb2308_4750_positive',
 'rb2308_4750_negative',
 'rb2308P4800_bid_price1',
 'rb2308P4800_ask_price1',
 'rb2308_4800',
 'rb2308_4800_positive',
 'rb2308_4800_negative',
 'rb2308P4850_bid_price1',
 'rb2308P4850_ask_price1',
 'rb2308_4850',
 'rb2308_4850_positive',
 'rb2308_4850_negative',
 'rb2308_bid_price1',
 'rb2308_ask_price1']

In [36]:
df[60:100][['rb2308', 'rb2308_3900_positive', 'rb2308_3500_positive', 'rb2308_3500_negative']]

,rb2308,rb2308_3900_positive,rb2308_3500_positive,rb2308_3500_negative
2023-07-17 13:31:03,3712.0,3710.0,3710.0,3284.0
2023-07-17 13:31:04,3712.0,3710.0,3710.0,3283.5
2023-07-17 13:31:05,3712.0,3710.0,3710.0,3283.5
2023-07-17 13:31:06,3712.0,3711.5,3711.5,3283.0
2023-07-17 13:31:07,3712.0,3711.0,3711.0,3282.5
2023-07-17 13:31:08,3712.0,3711.0,3711.0,3282.5
2023-07-17 13:31:09,3713.0,3711.0,3711.5,3282.5
2023-07-17 13:31:10,3713.0,3711.5,3711.5,3282.0
2023-07-17 13:31:11,3713.0,3711.5,3711.5,3282.0
2023-07-17 13:31:12,3713.0,3711.0,3711.5,3282.5
2023-07-17 13:31:13,3713.0,3711.0,3712.0,3282.5
2023-07-17 13:31:14,3713.0,3711.0,3712.0,3282.5
2023-07-17 13:31:15,3713.0,3711.0,3712.0,3282.5
2023-07-17 13:31:16,3713.0,3711.0,3712.0,3282.5
2023-07-17 13:31:17,3713.0,3711.0,3712.0,3282.5
2023-07-17 13:31:18,3713.0,3711.0,3712.0,3282.5
2023-07-17 13:31:19,3713.0,3712.0,3712.0,3282.0
2023-07-17 13:31:20,3713.0,3712.0,3712.0,3282.0
2023-07-17 13:31:21,3713.0,3712.0,3712.0,3282.0
2023-07-17 13:31:22,3713.0,3713.0,3713.5,3282.0
2023-07-17 13:31:23,3713.0,3713.0,3712.5,3281.0
2023-07-17 13:31:24,3713.0,3713.0,3712.5,3281.0
2023-07-17 13:31:25,3713.0,3713.0,3712.5,3281.0
2023-07-17 13:31:26,3713.0,3713.0,3712.5,3281.0
2023-07-17 13:31:27,3713.0,3712.0,3712.5,3280.5
2023-07-17 13:31:28,3713.0,3713.0,3712.5,3280.5
2023-07-17 13:31:29,3713.0,3713.5,3714.0,3279.5
2023-07-17 13:31:30,3713.0,3713.5,3714.0,3279.5
2023-07-17 13:31:31,3713.0,3713.5,3713.5,3280.0
2023-07-17 13:31:32,3713.0,3713.5,3713.5,3280.0
2023-07-17 13:31:33,3713.0,3713.0,3713.5,3280.0
2023-07-17 13:31:34,3713.0,3713.0,3713.5,3280.0
2023-07-17 13:31:35,3713.0,3713.0,3713.5,3280.0
2023-07-17 13:31:36,3713.0,3713.0,3713.5,3280.0
2023-07-17 13:31:37,3713.0,3713.0,3713.0,3280.5
2023-07-17 13:31:38,3713.0,3712.5,3713.0,3281.0
2023-07-17 13:31:39,3713.0,3712.5,3712.5,3281.0
2023-07-17 13:31:40,3713.0,3712.5,3712.5,3281.0
2023-07-17 13:31:41,3713.0,3712.5,3712.5,3281.0
2023-07-17 13:31:42,3713.0,3712.5,3712.5,3281.0

In [37]:
df.head()

,rb2308,rb2308C2850,rb2308C2900,rb2308C2950,rb2308C3000,rb2308C3050,rb2308C3100,rb2308C3150,rb2308C3200,rb2308C3250,...,rb2308_4800,rb2308_4800_positive,rb2308_4800_negative,rb2308P4850_bid_price1,rb2308P4850_ask_price1,rb2308_4850,rb2308_4850_positive,rb2308_4850_negative,rb2308_bid_price1,rb2308_ask_price1
2023-07-17 11:30:00,3706.0,888.0,838.0,788.0,738.0,688.0,638.0,588.0,538.0,488.0,...,3738.5,0.0,5684.0,947.5,1.797693e+308,3738.5,0.0,5785.5,3702.0,3714.0
2023-07-17 13:30:00,3706.0,888.0,838.0,788.0,738.0,688.0,638.0,588.0,538.0,488.0,...,3738.5,0.0,5684.0,947.5,1.797693e+308,3738.5,0.0,5785.5,3705.0,3714.0
2023-07-17 13:30:01,3706.0,888.0,838.0,788.0,738.0,688.0,638.0,588.0,538.0,488.0,...,3738.5,0.0,5684.0,947.5,1.797693e+308,3738.5,0.0,5785.5,3706.0,3712.0
2023-07-17 13:30:02,3706.0,888.0,838.0,788.0,738.0,688.0,638.0,588.0,538.0,488.0,...,3738.5,0.0,5684.0,947.5,1.797693e+308,3738.5,0.0,5785.5,3708.0,3712.0
2023-07-17 13:30:03,3706.0,888.0,838.0,788.0,738.0,688.0,638.0,588.0,538.0,488.0,...,3738.5,0.0,5684.0,947.5,1.797693e+308,3738.5,0.0,5785.5,3709.0,3712.0