In [1]:
import pymongo
import pandas as pd
import numpy as np
from pymongo import MongoClient

In [2]:
client = MongoClient()
db = client['quantaxis']

In [50]:
coll_list = db['stock_list']
stock_list = pd.DataFrame(list(coll_list.find()))

In [49]:
stock_list[stock_list['code'] == '603636']

,_id,code,volunit,decimal_point,name,pre_close,sse,sec
3864,615bcac1cf709cd8a3f49020,603636,100.0,2.0,南威软件,72.03,sh,stock_cn

In [52]:
stock_list

,_id,code,volunit,decimal_point,name,pre_close,sse,sec
0,61655ce230f81a43bd5043c3,000001,100.0,2.0,平安银行,19.400000,sz,stock_cn
1,61655ce230f81a43bd5043c4,000002,100.0,2.0,万 科Ａ,22.100000,sz,stock_cn
2,61655ce230f81a43bd5043c5,000004,100.0,2.0,国华网安,19.730000,sz,stock_cn
3,61655ce230f81a43bd5043c6,000005,100.0,2.0,ST星源,898.011250,sz,stock_cn
4,61655ce230f81a43bd5043c7,000006,100.0,2.0,深振业Ａ,4.570000,sz,stock_cn
...,...,...,...,...,...,...,...,...
4529,61655ce230f81a43bd505574,688799,100.0,2.0,华纳药厂,140.070000,sh,stock_cn
4530,61655ce230f81a43bd505575,688800,100.0,2.0,瑞可达,71.790001,sh,stock_cn
4531,61655ce230f81a43bd505576,688819,100.0,2.0,天能股份,220.139999,sh,stock_cn
4532,61655ce230f81a43bd505577,688981,100.0,2.0,中芯国际,404.160000,sh,stock_cn
4533,61655ce230f81a43bd505578,689009,100.0,2.0,九号公司,85.000000,sh,stock_cn

In [17]:
coll_day = db['stock_day']
stock_day = pd.DataFrame(list(coll_day.find({'code': '603636'})))

In [21]:
std_list = []

In [ ]:
for code in stock_list.code:
    stock_day = pd.DataFrame(list(coll_day.find({'code': code})))
    std_list.append([code, stock_day.close.std()])

In [25]:
stds = np.asarray(std_list).asty

In [33]:
stds.astype(np.float32)[:, 1].min()

1.7118145

In [32]:
stds

array([['000001', '8.954355652260354'],
       ['000002', '8.046174972388194'],
       ['000004', '9.102502351215804'],
       ['000005', '2.874083714910185'],
       ['000006', '8.434401822209727'],
       ['000007', '6.04804286401426'],
       ['000008', '12.006975697150027'],
       ['000009', '5.689320463139389'],
       ['000010', '4.04610270430673'],
       ['000011', '4.955557062486842'],
       ['000012', '5.6164728675831075'],
       ['000014', '5.087772402174952'],
       ['000016', '6.210171233228901'],
       ['000017', '4.618658010764224'],
       ['000019', '3.9483844658439375'],
       ['000020', '5.5921437446623'],
       ['000021', '8.127239640589018'],
       ['000023', '6.479036243314959'],
       ['000025', '15.310020402238829'],
       ['000026', '3.9584288974512165'],
       ['000027', '4.062896232420145'],
       ['000028', '20.116383586266817'],
       ['000029', '2.780392230595378'],
       ['000030', '3.3173781990295037'],
       ['000031', '4.8634434715502675'],
       ['000032', '5.560403848326721'],
       ['000034', '6.560048553027544'],
       ['000035', '7.077697366062075'],
       ['000036', '2.558267129663088'],
       ['000037', '3.934350671923497'],
       ['000038', '9.253529298061341'],
       ['000039', '5.809689670999444'],
       ['000040', '3.5047260632648696'],
       ['000042', '6.131287535872779'],
       ['000045', '3.3950013856241963'],
       ['000046', '8.537333263621548'],
       ['000048', '12.416692247721906'],
       ['000049', '17.830500462425213'],
       ['000050', '5.629421943778026'],
       ['000055', '5.727455468099527'],
       ['000056', '6.125648154843642'],
       ['000058', '4.609936455914656'],
       ['000059', '2.726375657571192'],
       ['000060', '8.338350546118892'],
       ['000061', '6.657104525371347'],
       ['000062', '9.123690881056575'],
       ['000063', '11.493517146772907'],
       ['000065', '7.9278901614338695'],
       ['000066', '7.106426671778119'],
       ['000068', '2.5035178367721147'],
       ['000069', '8.636880552688433'],
       ['000070', '6.955076798234446'],
       ['000078', '6.134111152249611'],
       ['000088', '4.817036053703512'],
       ['000089', '4.135281310451009'],
       ['000090', '5.369666068108493'],
       ['000096', '3.99682494310432'],
       ['000099', '4.664652438844585'],
       ['000100', '1.7118144869568575'],
       ['000150', '9.526101506080495'],
       ['000151', '5.895461730610433'],
       ['000153', '8.14925571998988'],
       ['000155', '3.5645035029569034'],
       ['000156', '9.541024756676743'],
       ['000157', '9.986177179236707'],
       ['000158', '4.170442110286017'],
       ['000159', '4.963556668209302'],
       ['000166', '3.394154611835116'],
       ['000301', '3.965757653888221'],
       ['000333', '18.74128384491339'],
       ['000338', '23.412925431913944'],
       ['000400', '7.798481608772718'],
       ['000401', '5.476812381704053'],
       ['000402', '6.266241720704482'],
       ['000403', '11.970962428257028'],
       ['000404', '2.7890580829453153'],
       ['000407', '3.1856550627642766'],
       ['000408', '4.970872892545626'],
       ['000409', '4.613771827287235'],
       ['000410', '5.232129315219535'],
       ['000411', '5.411948363203392'],
       ['000413', '3.9758980811978386'],
       ['000415', '5.301591626157592'],
       ['000416', '4.62646597959924'],
       ['000417', '5.336008426104121'],
       ['000419', '5.318380185602837'],
       ['000420', '3.0093404390159413'],
       ['000421', '3.499577549017876'],
       ['000422', '5.799823914351619'],
       ['000423', '17.221881974199086'],
       ['000425', '9.830609408827188'],
       ['000426', '4.272794584114772'],
       ['000428', '4.99676305466612'],
       ['000429', '2.767736166522361'],
       ['000430', '3.1344223912710207'],
       ['000488', '4.334153109604659'],
       ['000498', '2.2561143504333505'],
       ['000501', '5.400065407958881'],
       ['000502', '5.95435133272665'],
       ['000503', '12.169150936390686'],
       ['000504', '5.836494840039429'],
       ['000505', '5.153167739122173'],
       ['000506', '3.560728272926431'],
       ['000507', '3.11371082314418'],
       ['000509', '4.3739833847660865'],
       ['000510', '3.3243672677220406'],
       ['000513', '19.12186041971881'],
       ['000514', '4.39238364781901'],
       ['000516', '4.613880821010728'],
       ['000517', '6.568139519689278'],
       ['000518', '3.8174360799179197'],
       ['000519', '4.972380854370647'],
       ['000520', '2.6274489466222226'],
       ['000521', '2.8233197499646043'],
       ['000523', '3.2544452610276546'],
       ['000524', '3.661894744906117'],
       ['000525', '5.520319054543434'],
       ['000526', '14.273877573816002'],
       ['000528', '7.658232568852586'],
       ['000529', '3.051401597009606'],
       ['000530', '3.761299030706543'],
       ['000531', '3.3020014413333163'],
       ['000532', '4.870710016119003'],
       ['000533', '2.7841984713049257'],
       ['000534', '3.4690919759488543'],
       ['000536', '7.2249684452228635'],
       ['000537', '7.265692447041664'],
       ['000538', '33.56978179631019'],
       ['000539', '4.121582614497855'],
       ['000540', '7.056728355616822'],
       ['000541', '4.175995331042079'],
       ['000543', '2.950762860674918'],
       ['000544', '4.323662392377276'],
       ['000545', '3.1112989832571274'],
       ['000546', '3.660631723117905'],
       ['000547', '5.273514427095898'],
       ['000548', '3.206913418854905'],
       ['000550', '8.979478333792223'],
       ['000551', '3.965537537580979'],
       ['000552', '5.217931038001312'],
       ['000553', '3.7008150659722445'],
       ['000554', '3.2385517363485574'],
       ['000555', '11.73068493605444'],
       ['000557', '7.241562199942981'],
       ['000558', '4.68473102356507'],
       ['000559', '4.33167482289853'],
       ['000560', '4.789765202297711'],
       ['000561', '2.7416464329391634'],
       ['000563', '4.323579816872843'],
       ['000564', '2.5628526561928995'],
       ['000565', '6.420575227727348'],
       ['000566', '7.124223802633555'],
       ['000567', '7.541842608999169'],
       ['000568', '42.920380554860564'],
       ['000570', '4.366540682979511'],
       ['000571', '4.039275541608552'],
       ['000572', '3.585043840671938'],
       ['000573', '2.4516711893732035'],
       ['000576', '4.104909030011165'],
       ['000581', '9.22367245082142'],
       ['000582', '4.2215160261907005'],
       ['000584', '3.9737162436703346'],
       ['000585', '2.086116059363676'],
       ['000586', '4.448215478839752'],
       ['000587', '5.0343197770981085'],
       ['000589', '3.9343065289584174'],
       ['000590', '7.129550684152631'],
       ['000591', '4.557604333540915'],
       ['000592', '4.905408224693061'],
       ['000593', '4.931002883970062'],
       ['000595', '3.3413939637268926'],
       ['000596', '51.98797274435891'],
       ['000597', '4.796727478855378'],
       ['000598', '5.483397266951012'],
       ['000599', '3.492679253715321'],
       ['000600', '3.5043025783135566'],
       ['000601', '3.7280898674746648'],
       ['000603', '6.4062609814048805'],
       ['000605', '5.933311765595224'],
       ['000606', '5.405164332363943'],
       ['000607', '4.595145827986022'],
       ['000608', '5.863689193228885'],
       ['000609', '8.23851738532767'],
       ['000610', '3.33328023833433'],
       ['000611', '2.8478825971747694'],
       ['000612', '8.078832914605735'],
       ['000613', '3.3189592217916224'],
       ['000615', '4.376811762059564'],
       ['000616', '5.991013374149468'],
       ['000617', '6.305275633568129'],
       ['000619', '7.490370137738621'],
       ['000620', '3.6051399615664734'],
       ['000622', '4.240199801818561'],
       ['000623', '13.780187970035918'],
       ['000625', '4.808614292624455'],
       ['000626', '12.231884025060813']], dtype='<U32')

In [20]:
stock_day.close.std()

29.93655062575519

In [13]:
test

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'quantaxis'), 'stock_list')

In [5]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'database_name')

In [3]:
coll_min = db['stock_min']

In [22]:
# s603636 = pd.DataFrame(list(coll_min.find({'code': '603636', 'type':'15min'}).find({'date': {'$gte', '2021-01-01'}})))

s603636 = pd.DataFrame(list(coll_min.find({'$and': [
    {'code': {'$eq': '603636'}}, 
    {'type': {'$eq': '15min'}}, 
    {'date': {'$gte': '2021-01-01'}}]})))

In [23]:
s603636

,_id,open,close,high,low,vol,amount,datetime,code,date,date_stamp,time_stamp,type
0,615b31acd287d51d0db9868f,9.30,9.29,9.35,9.21,449400.0,4175251.0,2021-01-04 09:45:00,603636,2021-01-04,1.609690e+09,1.609725e+09,15min
1,615b31acd287d51d0db98690,9.30,9.26,9.32,9.24,274600.0,2544601.0,2021-01-04 10:00:00,603636,2021-01-04,1.609690e+09,1.609726e+09,15min
2,615b31acd287d51d0db98691,9.26,9.31,9.34,9.26,296700.0,2760841.0,2021-01-04 10:15:00,603636,2021-01-04,1.609690e+09,1.609726e+09,15min
3,615b31acd287d51d0db98692,9.32,9.35,9.35,9.29,392500.0,3655341.0,2021-01-04 10:30:00,603636,2021-01-04,1.609690e+09,1.609727e+09,15min
4,615b31acd287d51d0db98693,9.35,9.35,9.40,9.33,678400.0,6353068.0,2021-01-04 10:45:00,603636,2021-01-04,1.609690e+09,1.609728e+09,15min
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,6180ef5842ccdf9d13520ce1,7.95,7.99,7.99,7.95,115100.0,917377.0,2021-11-02 14:00:00,603636,2021-11-02,1.635782e+09,1.635833e+09,15min
3196,6180ef5842ccdf9d13520ce2,7.99,7.99,8.01,7.97,124000.0,991870.0,2021-11-02 14:15:00,603636,2021-11-02,1.635782e+09,1.635834e+09,15min
3197,6180ef5842ccdf9d13520ce3,7.99,7.99,8.00,7.99,70100.0,560230.0,2021-11-02 14:30:00,603636,2021-11-02,1.635782e+09,1.635835e+09,15min
3198,6180ef5842ccdf9d13520ce4,7.99,7.96,8.00,7.96,95100.0,758840.0,2021-11-02 14:45:00,603636,2021-11-02,1.635782e+09,1.635836e+09,15min
3199,6180ef5842ccdf9d13520ce5,7.97,7.95,7.98,7.95,177200.0,1410328.0,2021-11-02 15:00:00,603636,2021-11-02,1.635782e+09,1.635836e+09,15min

In [26]:
s603636.drop(columns=['_id', 'date_stamp', 'time_stamp', 'type']).set_index(['date', 'datetime'])

                                open  close  high   low       vol     amount  \
date       datetime
2021-01-04 2021-01-04 09:45:00  9.30   9.29  9.35  9.21  449400.0  4175251.0
           2021-01-04 10:00:00  9.30   9.26  9.32  9.24  274600.0  2544601.0
           2021-01-04 10:15:00  9.26   9.31  9.34  9.26  296700.0  2760841.0
           2021-01-04 10:30:00  9.32   9.35  9.35  9.29  392500.0  3655341.0
           2021-01-04 10:45:00  9.35   9.35  9.40  9.33  678400.0  6353068.0
...                              ...    ...   ...   ...       ...        ...
2021-11-02 2021-11-02 14:00:00  7.95   7.99  7.99  7.95  115100.0   917377.0
           2021-11-02 14:15:00  7.99   7.99  8.01  7.97  124000.0   991870.0
           2021-11-02 14:30:00  7.99   7.99  8.00  7.99   70100.0   560230.0
           2021-11-02 14:45:00  7.99   7.96  8.00  7.96   95100.0   758840.0
           2021-11-02 15:00:00  7.97   7.95  7.98  7.95  177200.0  1410328.0

                                  code
date       datetime
2021-01-04 2021-01-04 09:45:00  603636
           2021-01-04 10:00:00  603636
           2021-01-04 10:15:00  603636
           2021-01-04 10:30:00  603636
           2021-01-04 10:45:00  603636
...                                ...
2021-11-02 2021-11-02 14:00:00  603636
           2021-11-02 14:15:00  603636
           2021-11-02 14:30:00  603636
           2021-11-02 14:45:00  603636
           2021-11-02 15:00:00  603636

[3200 rows x 7 columns]